version: "2"
volumes:
  node_modules:

services:
  relay:
    volumes:
      - .lnd/:/relay/.lnd

    container_name: relay
    image: n2n2/n2n2-relay

    mem_limit: 512M
    mem_reservation: 256M

    ports:
      # - "8080:8080"
      - "8333:8333"
      - "3001:3001"
      - "9735:9735"
      - "10009:10009"

    command: "lnd --accept-keysend --configfile=/relay/.lnd/lnd.conf && npm start"

    environment:
      - NODE_ENV=production
      - PORT=3001
      - NODE_DOMAIN=$NODE_DOMAIN
      - NODE_IP=$NODE_IP
      - NODE_ALIAS=$NODE_ALIAS
      - COMMUNITIES_HOST=$COMMUNITIES_HOST
      - MEDIA_HOST_PROTOCOL=$MEDIA_HOST_PROTOCOL
      - MEDIA_HOST=$MEDIA_HOST
      - MACAROON_LOCATION=$MACAROON_LOCATION

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.relay.tls=true"

      - "traefik.http.routers.relay.rule=Host(`$NODE_DOMAIN`)"
      - "traefik.http.services.relay.loadbalancer.server.port=3001"
      - "traefik.http.routers.relay.tls.certresolver=myresolver"
      - "traefik.http.routers.relay.entrypoints=relay"

    # depends_on:
    #   - reverse-proxy

    env_file:
      - /etc/environment
